<div class="row bg-primary contenedor">
    <!-- Columna izquierda (Inicio de sesión) -->
    <div class="col-5 bg-warning d-flex align-items-center justify-content-center">
        <!-- Contenido para el inicio de sesión -->
        <div>
            <h2 class="text-center">Iniciar Sesión</h2>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" id="email" class="form-control" placeholder="ejemplo@correo.com" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" id="password" class="form-control" placeholder="******" />
                </div>
                <button type="submit" class="btn btn-primary w-100">Ingresar</button>
            </form>
        </div>
    </div>

    <!-- Columna derecha (Imágenes) -->
    <div class="col-7 p-0">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <!-- Imagen de ejemplo -->
            <img src="" class="img-fluid w-100 h-100"
                alt="Imágenes decorativas" />
        </div>
    </div>
</div>