<nav class="navbar">
  <div class="buttons-container">
    <button mat-button (click)="navegarAInicio()">Inicio</button>
  </div>
  <div class="logo-contenedor row align-items-center justify-content-center">
    <img src="Img/Logo-sin-fondo .png" class="align-items-center justify-content-center" alt="Logo" class="logo" />
    <span class="logo-text">Terraflora</span>
  </div>

  <div class="buttons-container">
    <button mat-button (click)="navegarAIniciarSesion()">Iniciar Sesión</button>
    <button mat-button (click)="navegarARegistrarse()">Registrarse</button>
  </div>
</nav>