.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #a8d5ba;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-left: 10px;
}