@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Poppins:wght@400;600&family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap');

.contenedor {
  height: calc(100vh - 66px);
  width: 100%; 
}

/* Estilos para el título */
h2 {
  font-family: 'Raleway', sans-serif;
  color: #4CAF50!important; /* Verde pastel */
  font-weight: 600;
  font-size: 26px; /* Tamaño ajustado */
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Estilos para los subtítulos */
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Estilos para cabeceras */
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Párrafos */
p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #a8d8a0; /* Verde pastel */
}

/* Estilos para el formulario */
label {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-bottom: 0.5rem;
  display: block;
}

/* Estilo para los campos de entrada */
input.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* Estilo para el botón de registro */
button.btn-primary {
  background-color: #4CAF50;
  color: white;
  text-transform: none;
  padding: 12px 0;
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  border: none;
}

button.btn-primary:hover {
  background-color: #45a049; /* Efecto hover */
}

/* Links del formulario */
.text-center a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #007bff;
}

.text-center a:hover {
  text-decoration: underline;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .contenedor {
    width: 100%;
    height: auto; /* Altura automática */
    padding: 20px;
  }
}

/* Ajustes para pantallas medianas */
@media (min-width: 769px) {
  .row {
    display: flex;
  }

  .col-4, .col-8 {
    padding: 20px;
  }

  .col-8 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
